<section id="main-contact">
    <div class="container">
        
        <h1 class="section-title">Contact me</h1>

        <!-- Contact form -->
        <div class="form-wrap">
            <form method="POST" action="https://formspree.io/mwkrjznj">

                <div class="input-field">
                    <input type="text" name="name" required="">
                    <label>Name*</label>
                </div>

                <div class="input-field">
                    <input type="email" name="_replyto" required="">
                    <label>Email*</label>
                </div>

                <div class="input-field">
                    <textarea name="subject" required=""></textarea>
                    <label>Subject*</label>
                </div>

                <div class="input-field">
                    <textarea name="message" rows="7" required=""></textarea>
                    <label>Message*</label>
                </div>

                <input type="submit" name="" value="Send Message" class="btn">

            </form>
        </div>

    </div>
</section>