<section id="main-contact" class="section-5">
    <div class="container">
        <h1 class="section-title">Contact me</h1>
        <div class="contact">
            <h2>Contact Me</h2>
            <form method="POST" action="https://formspree.io/mnqgrpzy">
                <div class="input-field">
                    <input type="text" name="name" required="">
                    <label>Name*</label>
                </div>
                <div class="input-field">
                    <input type="email" name="_replyto" required="">
                    <label>Email*</label>
                </div>
                <div class="input-field">
                    <textarea name="message" rows="7" required=""></textarea>
                    <label>Message*</label>
                </div>
                <input type="submit" name="" value="Send Message" class="btn">
            </form>
        </div>
        <div class="quote text-center">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, accusamus.</h4>
        </div>
    </div>
</section>