<footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-8">
                <h4 class="text-light">Thank you</h4>
                <p class="text-muted">
                    For any suggestion and stuffs you can mail me at robin.ghesquier@gmail.com </p>
                <p class="pt-2 text-muted">
                    Copyright ©2020 All rights reserved | This site is made by
                    <a class="sp" href="https://www.linkedin.com/in/robin-ghesquier-148363164/"><span> Robin Ghesquier </span></a>
                </p>
            </div>
            <div class="col-md-2">
                <h4 class="text-light">Follow Me</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-light">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
            </div>
        </div>
    </div>
</footer>