<footer>
    <div class="container p-0">

        <div class="row text-left">

            <!-- Col 1 -->
            <div class="col-md-10">
                <h4 class="text-light">Thank you</h4>
                <p class="text-muted pt-2">
                    ©2020 Robin Ghesquier - All rights reserved 
                </p>
                <p class="text-muted">                
                    This site is made by
                    <a class="name" href="https://www.linkedin.com/in/robin-ghesquier-148363164/"><span> Robin Ghesquier </span></a>
                    and hosted on Github Pages.
                </p>
            </div>


            <!-- Col 3 -->
            <div class="col-md-2">
                <a href="/"><i class="far fa-arrow-alt-circle-up"></i></a>
            </div>

        </div>
    </div>
</footer>