<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg">

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <div class="brand-wrap"><i class="fas fa-circle-notch"></i> RG°</div>
        </a>

        <!-- Mobile button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <i class="fas fa-bars text-light"></i>
        </button>

        <!-- Navbar buttons -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                {% for item in site.data.nav %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.link }}">{{ item.name | upcase}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </nav>
</div>