<div id="home-page" class="container text-left">
    <div class="row">
        <div class="col-md-5 col-sm-12 main-img h-25">
            <div id="avatar-wrap">
                <img src="assets/img/picture_bw.png" alt="picture" />
            
                <svg id="half-circle" viewBox="0 0 106 57" width="200">
                    <defs>
                    <linearGradient id="orange-to-pink" x1="1" x2="0" y1="1" y2="0">
                        <stop offset="0%" stop-color="#DA1B60" />
                        <stop offset="100%" stop-color="#ff8a00" />
                    </linearGradient>
                    </defs>
                    <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
                </svg>
            </div>

        </div>
        <div class="col-md-7 col-sm-12">
            <h1> #
                <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome on my website." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <h4>Hello, World! My name is Robin Ghesquier. I am a Data Scientist with Python and R as my major programming languages.  Interested in working together or having a chat? Feel free to contact me.</h4>
            <div class="text-left">
                <a href="https://www.facebook.com/robin.gsq/"><i class="fab fa-facebook"></i></a>
                <a href="https://github.com/ghesrob"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/robin-ghesquier-148363164/"><i class="fab fa-linkedin"></i></a>
                <a href="/#main-contact"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>


<!-- Chevron down-->
<div class="chevron-down">
    <a href="#main-screen"><i class="fa fa-chevron-down"></i></a>
</div>