<section class="section-1">
    <div class="screen">
        <div class="content-sec">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, labore excepturi! Est tempore beatae deserunt repellat atque velit iste eius.
            </p>
            <p class="text-right">- Lorem, ipsum. </p>
        </div>
    </div>
    <div class="screen">
        <div class="content-sec">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate voluptas omnis minima esse temporibus ea molestiae porro amet delectus!
            </p>
            <p class="text-right">- Lorem, ipsum.</p>
        </div>
    </div>
    <div class="screen">
        <div class="content-sec">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quas natus iusto deserunt obcaecati consequuntur nobis aliquam impedit magni aliquid.
            </p>
            <p class="text-right">- Lorem, ipsum. </p>
        </div>
    </div>
</section>