<section id="main-services" class="container-fluid p-0">

    <h1 class="section-title">Services & Skills</h1>

    <!-- Services container -->
    <div class="container services">
            <div class="service">
                <i class="fas fa-robot"></i>
                <h4>Artificial Intelligence</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, labore.</p>
            </div>
            <div class="service">
                <i class="fas fa-lightbulb"></i>
                <h4>Data Analysis</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, labore.</p>
            </div>
            <div class="service">
                <i class="fas fa-chart-area"></i>
                <h4>Data Visualization</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, itaque.</p>
            </div>
            <div class="service">
                <i class="fas fa-robot"></i>
                <h4>Lorem.</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, labore.</p>
            </div>
    </div>

</section>