<section id="main-experience" class="section-3 container-fluid p-0">
    <div class="container">
        <h1 class="section-title">Education & Experience</h1>
        <div class="time-line">
            <!-- Experience 1-->
            <div class="block">
                <h5>2018 - 2019</h5>
                <h3>Data Scientist apprentice</h3>
                <p>Urssaf Languedoc-Roussillon, Montpellier, France</p>
            </div>
            <!-- Education 3-->
            <div class="block">
                <h5>2017 - 2019</h5>
                <h3>Master degree in Data Science</h3>
                <p>Faculté des Sciences, Montpellier, France</p>
            </div>
            <!-- Education 2-->
            <div class="block">
                <h5>2017 - 2019</h5>
                <h3>Master degree in Statistics</h3>
                <p>Institut d'Administration des Entreprises, Montpellier, France</p>
            </div>
            <!-- Education 1-->
            <div class="block">
                <h5>2013 - 2017</h5>
                <h3>Bachelor degree in applied mathematics</h3>
                <p>Faculté des Sciences, Montpellier, France</p>
            </div>
        </div>
    </div>
</section>