@use "utils";


/* CSS */

* {
    box-sizing: border-box;
    font-family: $font-rubik;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
    background-color: $background;
    border-left: 1px solid #252525;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-image: linear-gradient(#ff8a00, #e52e71);
    outline: 1px solid #666;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
}


/* Section title */
.section-title {
    padding: 20px 0px;
    margin-bottom: 10vmin;
    color: #fff;
    position: relative;
    text-align: center;

    &::before {
        position: absolute;
        content: "";
        width: 90px;
        height: 3px;
        background-image: $gradientr;
        bottom: 0;
        left: calc(50% - 45px);
    }

    &::after {
        position: absolute;
        content: "";
        width: 24px;
        height: 18px;
        background-image: linear-gradient(135deg, #ff8a00, #e52e71);
        border: 4px solid $background;
        bottom: -8px;
        left: calc(50% - 12px);
    }
}


/* --------------------------------------------- 
-------------- Zone header  --------------------
-----------------------------------------------*/

header{
    background: $background;
    height: 100vh;
}

header, section {
    overflow-x: hidden;
}

header a {
    font-family: $font-snigle;
    font-size: 0.9em;
    color: whitesmoke;
}


/* Header navbar */

header .p-0 {
    position: relative;
}

header .p-0::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-image: $gradientl;
}

header .nav-item {
    padding: 1em;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-link {
    font-size: 1.1em;
}

header .navbar-brand {
    padding-left: 8rem;
    font-size: 1.8em;
}

header .navbar-brand:hover {
    color: white;
}

header .brand-wrap:hover,
header .nav-link:hover {
    @include bgtxt($gradientr);
}


/* Header content */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ZONE DE CHANTIER POUR L'AVATAR */


header .row .col-md-5 {
    display: flex;
    justify-content: center;
}

header .row .col-md-7 {
    color: whitesmoke;
}

#home-page .row {
    align-items: center;
}

#test1 {
    display: flex;
    justify-content: center;
}

#avatar-wrap {
    position: relative;
    height: 200px;
    width: 200px;
}

#avatar-wrap path {
    fill: none;
    stroke: url(#orange-to-pink);
    stroke-width: 6;
    stroke-linecap: round;
    pointer-events: none;
}

#half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
}

#avatar-wrap img {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 25px;
    bottom: 26px;
}
/* FIN DE LA ZONE DE CHANTIER */

header .container .col-md-7 h4 {
    padding: 1vmin 0;
    letter-spacing: 1.2px;
}

header .text-left i {
    font-size: 2rem;
    margin: 0.8rem 0;
    margin-right: 1.5rem;
    @include bgtxt($gradientdiag);
}

header .chevron-down i {
    font-size: 2.5rem;
    @include bgtxt(linear-gradient(#ff8a00, #e52e71 75%));
    animation: pulse 1.2s ease-out infinite;
}

@keyframes pulse {
    0% {
        margin-bottom: 2rem;
        opacity: 1;
    }
    50% {
        margin-top: 0.8rem;
        margin-bottom: 1.2rem;
        opacity: .5;
        
    }
    100% {
        margin-bottom: 2rem;
        opacity: 1;
    }
}


@media only screen and (max-width: 768px) {

    /********** Header **********/
    header .navbar-brand {
        padding-left: 1rem;
        font-size: 1.4em;
    }

    header .nav-item {
        padding: 0.5em;
    }

    header .nav-link {
        font-size: 0.9em;
    }

    header .row {
        margin-left: 1em;
        padding: 10vmin 1vmin 28vmin;
    }

    header .row .col-md-7 h1 {
        color: white;
        font-size: 1.5rem;
    }

    header .row .col-md-7 h4 {
        color: white;
        font-size: 1.1rem;
        margin-right: 1.3em;
    }

    header .row .col-md-5 {
        padding-bottom: 10vmin;
        text-align: center;
    }

}