@use "utils";

#main-pics {
    position: relative;
    height: 105vh;
    display: flex;
    background: $background;
}

#main-pics .screen {
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    transition: 1s;

    &:nth-child(1) { @include bgimg("../img/first.jpg"); }

    &:nth-child(2) { @include bgimg("../img/second.jpg"); }

    &:nth-child(3) { @include bgimg("../img/third.jpg"); }

    &:hover {
        flex-grow: 4;
        opacity: 1;
    }
}

#main-pics .screen .content-sec {
    position: absolute;
    width: 350px;
    height: auto;
    background: $background;
    padding: 25px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.2s;
    text-align: justify;
}

#main-pics .screen:hover .content-sec {
    transform: translateX(0);
    transition-delay: 0.4s;
}

#main-pics .screen .content-sec p {
    color: whitesmoke;
    font-family: $font-rubik;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 768px) {

    
    #main-pics .screen:nth-child(1) {
        @include bgimg("../img/first.jpg");
        background-size: 350%;
    }
    
    #main-pics .screen:nth-child(2) {
        @include bgimg("../img/second.jpg");
        background-size: 350%;
    }
    
    #main-pics .screen:nth-child(3) {
        @include bgimg("../img/third.jpg");
        background-size: 350%;
    }
    #main-pics .screen .content-sec {
        width: 0px;
        height: 0px;
        background: transparent;
    }

    #main-pics .screen .content-sec p {
        font-size: 0px;
    }

}