footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 7vmin 22vmin;
}

footer .sp {
    background-image: var(--gradientr);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--background);
    border: none;
}

footer .column i {
    color: #dd2476;
    margin: 0.4rem
}

footer .column i+i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    background: rgba(0, 0, 0, 0.500);
    z-index: 9999;
    transition: all 1.5s ease;
}

footer .col-md-2:nth-child(3) {
    text-align: right;
}

footer .col-md-2:nth-child(3) i{
    font-size: 2rem;
    margin: 0.8rem 0;
    margin-right: 1.5rem;
    background-image: linear-gradient(135deg, #ff8a00, #e52e71 75%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


@media only screen and (max-width: 768px) {

    footer .row .col-md-2 {
        margin-top: 8vmin;
    }

    footer {
        padding: 7vmin 15vmin;
    }

    .sticky {
        position: absolute;
    }
    
}
